.tasks-background {
    position: fixed;
    z-index: 2;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #0000009c;
    opacity: 0;
    transition: 0.2s;
}
.tasks-background.active {
    opacity: 1;
}
.tasks-section {
    background: var(--editItem-background);
    color: var(--editItem-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 40px;
    border-radius: 10px;
    width: 80%;
    height: 80%;
    position: relative;
}
.task-section__h2 {
    font-family: 'Anton', sans-serif;
    font-size: 35px;
    font-weight: 500;
    margin: 0px 0px 25px 0px;
}
.task-section__div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.tasks-section__close {
    background: transparent;
    color: var(--editItem-color);
    cursor: pointer;
    border: 0px;
    outline-width: 0px;
    font-size: 34px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 20px 20px 0px 0px;
}

@media only screen and (max-width: 600px) {
    .tasks-section {
        width: 100%;
        height: 100%;
        padding: 20px;
    }
    .task-section__h2 {
        margin-bottom: 10px;
    }
}